@charset "UTF-8";
:root.doom-one {
  --fg: hsla(219, 17%, 77%, 100%);
  --fg-h: 219;
  --fg-s: 17%;
  --fg-l: 77%;
  --fg-a: 100%;
  --fg-hs: 219, 17%;
  --fg-hsl: 219, 17%, 77%;
  --bg: hsla(220, 13%, 18%, 100%);
  --bg-h: 220;
  --bg-s: 13%;
  --bg-l: 18%;
  --bg-a: 100%;
  --bg-hs: 220, 13%;
  --bg-hsl: 220, 13%, 18%;
  --bg-alt: hsla(222, 13%, 14%, 100%);
  --bg-alt-h: 222;
  --bg-alt-s: 13%;
  --bg-alt-l: 14%;
  --bg-alt-a: 100%;
  --bg-alt-hs: 222, 13%;
  --bg-alt-hsl: 222, 13%, 14%;
  --bg-dark: hsla(217, 12%, 12%, 100%);
  --bg-dark-h: 217;
  --bg-dark-s: 12%;
  --bg-dark-l: 12%;
  --bg-dark-a: 100%;
  --bg-dark-hs: 217, 12%;
  --bg-dark-hsl: 217, 12%, 12%;
  --bg-darker: hsla(222, 12%, 11%, 100%);
  --bg-darker-h: 222;
  --bg-darker-s: 12%;
  --bg-darker-l: 11%;
  --bg-darker-a: 100%;
  --bg-darker-hs: 222, 12%;
  --bg-darker-hsl: 222, 12%, 11%;
  --blue: hsla(204, 83%, 62%, 100%);
  --blue-h: 204;
  --blue-s: 83%;
  --blue-l: 62%;
  --blue-a: 100%;
  --blue-hs: 204, 83%;
  --blue-hsl: 204, 83%, 62%;
  --red: hsla(0, 100%, 70%, 100%);
  --red-h: 0;
  --red-s: 100%;
  --red-l: 70%;
  --red-a: 100%;
  --red-hs: 0, 100%;
  --red-hsl: 0, 100%, 70%;
  --magenta: hsla(286, 59%, 66%, 100%);
  --magenta-h: 286;
  --magenta-s: 59%;
  --magenta-l: 66%;
  --magenta-a: 100%;
  --magenta-hs: 286, 59%;
  --magenta-hsl: 286, 59%, 66%;
  --green: hsla(85, 40%, 57%, 100%);
  --green-h: 85;
  --green-s: 40%;
  --green-l: 57%;
  --green-a: 100%;
  --green-hs: 85, 40%;
  --green-hsl: 85, 40%, 57%;
  --violet: hsla(247, 51%, 75%, 100%);
  --violet-h: 247;
  --violet-s: 51%;
  --violet-l: 75%;
  --violet-a: 100%;
  --violet-hs: 247, 51%;
  --violet-hsl: 247, 51%, 75%;
  --yellow: hsla(35, 74%, 70%, 100%);
  --yellow-h: 35;
  --yellow-s: 74%;
  --yellow-l: 70%;
  --yellow-a: 100%;
  --yellow-hs: 35, 74%;
  --yellow-hsl: 35, 74%, 70%;
  --orange: hsla(25, 66%, 56%, 100%);
  --orange-h: 25;
  --orange-s: 66%;
  --orange-l: 56%;
  --orange-a: 100%;
  --orange-hs: 25, 66%;
  --orange-hsl: 25, 66%, 56%;
  --cyan: hsla(192, 100%, 63%, 100%);
  --cyan-h: 192;
  --cyan-s: 100%;
  --cyan-l: 63%;
  --cyan-a: 100%;
  --cyan-hs: 192, 100%;
  --cyan-hsl: 192, 100%, 63%;
  --base0: hsla(210, 20%, 13%, 100%);
  --base0-h: 210;
  --base0-s: 20%;
  --base0-l: 13%;
  --base0-a: 100%;
  --base0-hs: 210, 20%;
  --base0-hsl: 210, 20%, 13%;
  --base4: hsla(212, 8%, 26%, 100%);
  --base4-h: 212;
  --base4-s: 8%;
  --base4-l: 26%;
  --base4-a: 100%;
  --base4-hs: 212, 8%;
  --base4-hsl: 212, 8%, 26%;
  --base8: hsla(0, 0%, 87%, 100%);
  --base8-h: 0;
  --base8-s: 0%;
  --base8-l: 87%;
  --base8-a: 100%;
  --base8-hs: 0, 0%;
  --base8-hsl: 0, 0%, 87%;
  --notice-tip: hsla(204, 65%, 60%, 100%);
  --notice-tip-h: 204;
  --notice-tip-s: 65%;
  --notice-tip-l: 60%;
  --notice-tip-a: 100%;
  --notice-tip-hs: 204, 65%;
  --notice-tip-hsl: 204, 65%, 60%;
  --notice-wip: hsla(219, 23%, 54%, 100%);
  --notice-wip-h: 219;
  --notice-wip-s: 23%;
  --notice-wip-l: 54%;
  --notice-wip-a: 100%;
  --notice-wip-hs: 219, 23%;
  --notice-wip-hsl: 219, 23%, 54%;
  --notice-rant: hsla(85, 40%, 56%, 100%);
  --notice-rant-h: 85;
  --notice-rant-s: 40%;
  --notice-rant-l: 56%;
  --notice-rant-a: 100%;
  --notice-rant-hs: 85, 40%;
  --notice-rant-hsl: 85, 40%, 56%;
  --notice-timed: hsla(286, 60%, 67%, 100%);
  --notice-timed-h: 286;
  --notice-timed-s: 60%;
  --notice-timed-l: 67%;
  --notice-timed-a: 100%;
  --notice-timed-hs: 286, 60%;
  --notice-timed-hsl: 286, 60%, 67%;
  --notice-warn: hsla(35, 74%, 70%, 100%);
  --notice-warn-h: 35;
  --notice-warn-s: 74%;
  --notice-warn-l: 70%;
  --notice-warn-a: 100%;
  --notice-warn-hs: 35, 74%;
  --notice-warn-hsl: 35, 74%, 70%;
  --highlight: hsla(var(--blue-h), var(--blue-s), var(--blue-l), var(--blue-a));
  --highlight-h: var(--blue-h);
  --highlight-s: var(--blue-s);
  --highlight-l: var(--blue-l);
  --highlight-a: var(--blue-a);
  --highlight-hs: var(--blue-h), var(--blue-s);
  --highlight-hsl: var(--blue-h), var(--blue-s), var(--blue-l);
  --accent: hsla(var(--magenta-h), var(--magenta-s), var(--magenta-l), var(--magenta-a));
  --accent-h: var(--magenta-h);
  --accent-s: var(--magenta-s);
  --accent-l: var(--magenta-l);
  --accent-a: var(--magenta-a);
  --accent-hs: var(--magenta-h), var(--magenta-s);
  --accent-hsl: var(--magenta-h), var(--magenta-s), var(--magenta-l);
  --links: hsla(var(--highlight-h), var(--highlight-s), var(--highlight-l), var(--highlight-a));
  --links-h: var(--highlight-h);
  --links-s: var(--highlight-s);
  --links-l: var(--highlight-l);
  --links-a: var(--highlight-a);
  --links-hs: var(--highlight-h), var(--highlight-s);
  --links-hsl: var(--highlight-h), var(--highlight-s), var(--highlight-l);
  --strings: hsla(var(--green-h), var(--green-s), var(--green-l), var(--green-a));
  --strings-h: var(--green-h);
  --strings-s: var(--green-s);
  --strings-l: var(--green-l);
  --strings-a: var(--green-a);
  --strings-hs: var(--green-h), var(--green-s);
  --strings-hsl: var(--green-h), var(--green-s), var(--green-l);
  --comments: hsla(207, 6%, 38%, 100%);
  --comments-h: 207;
  --comments-s: 6%;
  --comments-l: 38%;
  --comments-a: 100%;
  --comments-hs: 207, 6%;
  --comments-hsl: 207, 6%, 38%;
  --comments-alt: hsla(212, 8%, 26%, 100%);
  --comments-alt-h: 212;
  --comments-alt-s: 8%;
  --comments-alt-l: 26%;
  --comments-alt-a: 100%;
  --comments-alt-hs: 212, 8%;
  --comments-alt-hsl: 212, 8%, 26%;
  --code-bg: hsla(var(--bg-alt-h), var(--bg-alt-s), var(--bg-alt-l), var(--bg-alt-a));
  --code-bg-h: var(--bg-alt-h);
  --code-bg-s: var(--bg-alt-s);
  --code-bg-l: var(--bg-alt-l);
  --code-bg-a: var(--bg-alt-a);
  --code-bg-hs: var(--bg-alt-h), var(--bg-alt-s);
  --code-bg-hsl: var(--bg-alt-h), var(--bg-alt-s), var(--bg-alt-l);
  --code-fg: hsla(209, 43%, 70%, 100%);
  --code-fg-h: 209;
  --code-fg-s: 43%;
  --code-fg-l: 70%;
  --code-fg-a: 100%;
  --code-fg-hs: 209, 43%;
  --code-fg-hsl: 209, 43%, 70%;
  --code-border: hsla(222, 12%, 10%, 100%);
  --code-border-h: 222;
  --code-border-s: 12%;
  --code-border-l: 10%;
  --code-border-a: 100%;
  --code-border-hs: 222, 12%;
  --code-border-hsl: 222, 12%, 10%;
  --error: hsla(var(--red-h), var(--red-s), var(--red-l), var(--red-a));
  --error-h: var(--red-h);
  --error-s: var(--red-s);
  --error-l: var(--red-l);
  --error-a: var(--red-a);
  --error-hs: var(--red-h), var(--red-s);
  --error-hsl: var(--red-h), var(--red-s), var(--red-l);
  --h1: hsla(var(--fg-h), var(--fg-s), var(--fg-l), var(--fg-a));
  --h1-h: var(--fg-h);
  --h1-s: var(--fg-s);
  --h1-l: var(--fg-l);
  --h1-a: var(--fg-a);
  --h1-hs: var(--fg-h), var(--fg-s);
  --h1-hsl: var(--fg-h), var(--fg-s), var(--fg-l);
  --h2: hsla(var(--blue-h), var(--blue-s), 78%, var(--blue-a));
  --h2-h: var(--blue-h);
  --h2-s: var(--blue-s);
  --h2-l: 78%;
  --h2-a: var(--blue-a);
  --h2-hs: var(--blue-h), var(--blue-s);
  --h2-hsl: var(--blue-h), var(--blue-s), 78%;
  --h3: hsla(var(--magenta-h), var(--magenta-s), 78%, var(--magenta-a));
  --h3-h: var(--magenta-h);
  --h3-s: var(--magenta-s);
  --h3-l: 78%;
  --h3-a: var(--magenta-a);
  --h3-hs: var(--magenta-h), var(--magenta-s);
  --h3-hsl: var(--magenta-h), var(--magenta-s), 78%;
  --h4: hsla(var(--blue-h), var(--blue-s), 90%, var(--blue-a));
  --h4-h: var(--blue-h);
  --h4-s: var(--blue-s);
  --h4-l: 90%;
  --h4-a: var(--blue-a);
  --h4-hs: var(--blue-h), var(--blue-s);
  --h4-hsl: var(--blue-h), var(--blue-s), 90%;
  --h5: hsla(var(--magenta-h), var(--magenta-s), 88%, var(--magenta-a));
  --h5-h: var(--magenta-h);
  --h5-s: var(--magenta-s);
  --h5-l: 88%;
  --h5-a: var(--magenta-a);
  --h5-hs: var(--magenta-h), var(--magenta-s);
  --h5-hsl: var(--magenta-h), var(--magenta-s), 88%;
  --h6: hsla(var(--blue-h), var(--blue-s), 98%, var(--blue-a));
  --h6-h: var(--blue-h);
  --h6-s: var(--blue-s);
  --h6-l: 98%;
  --h6-a: var(--blue-a);
  --h6-hs: var(--blue-h), var(--blue-s);
  --h6-hsl: var(--blue-h), var(--blue-s), 98%; }

.doom-one .hljs .hljs-doctag,
.doom-one .hljs .hljs-keyword,
.doom-one .hljs .hljs-formula {
  color: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 100%); }
.doom-one .hljs .hljs-section,
.doom-one .hljs .hljs-name,
.doom-one .hljs .hljs-selector-tag,
.doom-one .hljs .hljs-deletion,
.doom-one .hljs .hljs-subst {
  color: hsla(var(--red-h), var(--red-s), var(--red-l), 100%); }
.doom-one .hljs .hljs-literal {
  color: hsla(var(--cyan-h), var(--cyan-s), var(--cyan-l), 100%); }
.doom-one .hljs .hljs-regexp,
.doom-one .hljs .hljs-addition,
.doom-one .hljs .hljs-attribute {
  color: hsla(var(--green-h), var(--green-s), var(--green-l), 100%); }
.doom-one .hljs .hljs-attr,
.doom-one .hljs .hljs-variable,
.doom-one .hljs .hljs-template-variable,
.doom-one .hljs .hljs-type,
.doom-one .hljs .hljs-selector-class,
.doom-one .hljs .hljs-selector-attr,
.doom-one .hljs .hljs-selector-pseudo,
.doom-one .hljs .hljs-number {
  color: hsla(var(--orange-h), var(--orange-s), var(--orange-l), 100%); }
.doom-one .hljs .hljs-meta,
.doom-one .hljs .hljs-selector-id,
.doom-one .hljs .hljs-title {
  color: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 100%); }
.doom-one .hljs .hljs-bullet,
.doom-one .hljs .hljs-symbol {
  color: hsla(var(--yellow-h), var(--yellow-s), var(--yellow-l), 100%); }
.doom-one .hljs .hljs-built_in,
.doom-one .hljs .hljs-title.class_,
.doom-one .hljs .hljs-class .hljs-title {
  color: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 100%); }

:root.doom-one-light {
  --fg: hsla(220, 13%, 12%, 100%);
  --fg-h: 220;
  --fg-s: 13%;
  --fg-l: 12%;
  --fg-a: 100%;
  --fg-hs: 220, 13%;
  --fg-hsl: 220, 13%, 12%;
  --bg: hsla(0, 0%, 100%, 100%);
  --bg-h: 0;
  --bg-s: 0%;
  --bg-l: 100%;
  --bg-a: 100%;
  --bg-hs: 0, 0%;
  --bg-hsl: 0, 0%, 100%;
  --bg-alt: hsla(0, 0%, 98%, 100%);
  --bg-alt-h: 0;
  --bg-alt-s: 0%;
  --bg-alt-l: 98%;
  --bg-alt-a: 100%;
  --bg-alt-hs: 0, 0%;
  --bg-alt-hsl: 0, 0%, 98%;
  --bg-dark: hsla(0, 0%, 86%, 100%);
  --bg-dark-h: 0;
  --bg-dark-s: 0%;
  --bg-dark-l: 86%;
  --bg-dark-a: 100%;
  --bg-dark-hs: 0, 0%;
  --bg-dark-hsl: 0, 0%, 86%;
  --bg-darker: hsla(0, 0%, 73%, 100%);
  --bg-darker-h: 0;
  --bg-darker-s: 0%;
  --bg-darker-l: 73%;
  --bg-darker-a: 100%;
  --bg-darker-hs: 0, 0%;
  --bg-darker-hsl: 0, 0%, 73%;
  --blue: hsla(204, 83%, 62%, 100%);
  --blue-h: 204;
  --blue-s: 83%;
  --blue-l: 62%;
  --blue-a: 100%;
  --blue-hs: 204, 83%;
  --blue-hsl: 204, 83%, 62%;
  --red: hsla(0, 100%, 70%, 100%);
  --red-h: 0;
  --red-s: 100%;
  --red-l: 70%;
  --red-a: 100%;
  --red-hs: 0, 100%;
  --red-hsl: 0, 100%, 70%;
  --magenta: hsla(256, 59%, 66%, 100%);
  --magenta-h: 256;
  --magenta-s: 59%;
  --magenta-l: 66%;
  --magenta-a: 100%;
  --magenta-hs: 256, 59%;
  --magenta-hsl: 256, 59%, 66%;
  --green: hsla(85, 40%, 57%, 100%);
  --green-h: 85;
  --green-s: 40%;
  --green-l: 57%;
  --green-a: 100%;
  --green-hs: 85, 40%;
  --green-hsl: 85, 40%, 57%;
  --violet: hsla(247, 51%, 47%, 100%);
  --violet-h: 247;
  --violet-s: 51%;
  --violet-l: 47%;
  --violet-a: 100%;
  --violet-hs: 247, 51%;
  --violet-hsl: 247, 51%, 47%;
  --yellow: hsla(35, 74%, 70%, 100%);
  --yellow-h: 35;
  --yellow-s: 74%;
  --yellow-l: 70%;
  --yellow-a: 100%;
  --yellow-hs: 35, 74%;
  --yellow-hsl: 35, 74%, 70%;
  --orange: hsla(25, 66%, 56%, 100%);
  --orange-h: 25;
  --orange-s: 66%;
  --orange-l: 56%;
  --orange-a: 100%;
  --orange-hs: 25, 66%;
  --orange-hsl: 25, 66%, 56%;
  --cyan: hsla(197, 98%, 37%, 100%);
  --cyan-h: 197;
  --cyan-s: 98%;
  --cyan-l: 37%;
  --cyan-a: 100%;
  --cyan-hs: 197, 98%;
  --cyan-hsl: 197, 98%, 37%;
  --base0: hsla(0, 0%, 87%, 100%);
  --base0-h: 0;
  --base0-s: 0%;
  --base0-l: 87%;
  --base0-a: 100%;
  --base0-hs: 0, 0%;
  --base0-hsl: 0, 0%, 87%;
  --base4: hsla(212, 8%, 26%, 100%);
  --base4-h: 212;
  --base4-s: 8%;
  --base4-l: 26%;
  --base4-a: 100%;
  --base4-hs: 212, 8%;
  --base4-hsl: 212, 8%, 26%;
  --base8: hsla(210, 20%, 13%, 100%);
  --base8-h: 210;
  --base8-s: 20%;
  --base8-l: 13%;
  --base8-a: 100%;
  --base8-hs: 210, 20%;
  --base8-hsl: 210, 20%, 13%;
  --notice-tip: hsla(204, 65%, 60%, 100%);
  --notice-tip-h: 204;
  --notice-tip-s: 65%;
  --notice-tip-l: 60%;
  --notice-tip-a: 100%;
  --notice-tip-hs: 204, 65%;
  --notice-tip-hsl: 204, 65%, 60%;
  --notice-wip: hsla(219, 23%, 54%, 100%);
  --notice-wip-h: 219;
  --notice-wip-s: 23%;
  --notice-wip-l: 54%;
  --notice-wip-a: 100%;
  --notice-wip-hs: 219, 23%;
  --notice-wip-hsl: 219, 23%, 54%;
  --notice-rant: hsla(85, 40%, 56%, 100%);
  --notice-rant-h: 85;
  --notice-rant-s: 40%;
  --notice-rant-l: 56%;
  --notice-rant-a: 100%;
  --notice-rant-hs: 85, 40%;
  --notice-rant-hsl: 85, 40%, 56%;
  --notice-timed: hsla(286, 60%, 67%, 100%);
  --notice-timed-h: 286;
  --notice-timed-s: 60%;
  --notice-timed-l: 67%;
  --notice-timed-a: 100%;
  --notice-timed-hs: 286, 60%;
  --notice-timed-hsl: 286, 60%, 67%;
  --notice-warn: hsla(35, 74%, 70%, 100%);
  --notice-warn-h: 35;
  --notice-warn-s: 74%;
  --notice-warn-l: 70%;
  --notice-warn-a: 100%;
  --notice-warn-hs: 35, 74%;
  --notice-warn-hsl: 35, 74%, 70%;
  --highlight: hsla(var(--blue-h), var(--blue-s), var(--blue-l), var(--blue-a));
  --highlight-h: var(--blue-h);
  --highlight-s: var(--blue-s);
  --highlight-l: var(--blue-l);
  --highlight-a: var(--blue-a);
  --highlight-hs: var(--blue-h), var(--blue-s);
  --highlight-hsl: var(--blue-h), var(--blue-s), var(--blue-l);
  --accent: hsla(var(--magenta-h), var(--magenta-s), var(--magenta-l), var(--magenta-a));
  --accent-h: var(--magenta-h);
  --accent-s: var(--magenta-s);
  --accent-l: var(--magenta-l);
  --accent-a: var(--magenta-a);
  --accent-hs: var(--magenta-h), var(--magenta-s);
  --accent-hsl: var(--magenta-h), var(--magenta-s), var(--magenta-l);
  --links: hsla(var(--highlight-h), var(--highlight-s), var(--highlight-l), var(--highlight-a));
  --links-h: var(--highlight-h);
  --links-s: var(--highlight-s);
  --links-l: var(--highlight-l);
  --links-a: var(--highlight-a);
  --links-hs: var(--highlight-h), var(--highlight-s);
  --links-hsl: var(--highlight-h), var(--highlight-s), var(--highlight-l);
  --strings: hsla(var(--green-h), var(--green-s), var(--green-l), var(--green-a));
  --strings-h: var(--green-h);
  --strings-s: var(--green-s);
  --strings-l: var(--green-l);
  --strings-a: var(--green-a);
  --strings-hs: var(--green-h), var(--green-s);
  --strings-hsl: var(--green-h), var(--green-s), var(--green-l);
  --comments: hsla(231, 3%, 64%, 100%);
  --comments-h: 231;
  --comments-s: 3%;
  --comments-l: 64%;
  --comments-a: 100%;
  --comments-hs: 231, 3%;
  --comments-hsl: 231, 3%, 64%;
  --comments-alt: hsla(205, 2%, 53%, 100%);
  --comments-alt-h: 205;
  --comments-alt-s: 2%;
  --comments-alt-l: 53%;
  --comments-alt-a: 100%;
  --comments-alt-hs: 205, 2%;
  --comments-alt-hsl: 205, 2%, 53%;
  --code-bg: hsla(var(--bg-alt-h), var(--bg-alt-s), var(--bg-alt-l), var(--bg-alt-a));
  --code-bg-h: var(--bg-alt-h);
  --code-bg-s: var(--bg-alt-s);
  --code-bg-l: var(--bg-alt-l);
  --code-bg-a: var(--bg-alt-a);
  --code-bg-hs: var(--bg-alt-h), var(--bg-alt-s);
  --code-bg-hsl: var(--bg-alt-h), var(--bg-alt-s), var(--bg-alt-l);
  --code-fg: hsla(209, 43%, 70%, 100%);
  --code-fg-h: 209;
  --code-fg-s: 43%;
  --code-fg-l: 70%;
  --code-fg-a: 100%;
  --code-fg-hs: 209, 43%;
  --code-fg-hsl: 209, 43%, 70%;
  --code-border: hsla(222, 12%, 10%, 100%);
  --code-border-h: 222;
  --code-border-s: 12%;
  --code-border-l: 10%;
  --code-border-a: 100%;
  --code-border-hs: 222, 12%;
  --code-border-hsl: 222, 12%, 10%;
  --error: hsla(var(--red-h), var(--red-s), var(--red-l), var(--red-a));
  --error-h: var(--red-h);
  --error-s: var(--red-s);
  --error-l: var(--red-l);
  --error-a: var(--red-a);
  --error-hs: var(--red-h), var(--red-s);
  --error-hsl: var(--red-h), var(--red-s), var(--red-l);
  --h1: hsla(var(--fg-h), var(--fg-s), var(--fg-l), var(--fg-a));
  --h1-h: var(--fg-h);
  --h1-s: var(--fg-s);
  --h1-l: var(--fg-l);
  --h1-a: var(--fg-a);
  --h1-hs: var(--fg-h), var(--fg-s);
  --h1-hsl: var(--fg-h), var(--fg-s), var(--fg-l);
  --h2: hsla(var(--fg-h), var(--fg-s), 16%, var(--fg-a));
  --h2-h: var(--fg-h);
  --h2-s: var(--fg-s);
  --h2-l: 16%;
  --h2-a: var(--fg-a);
  --h2-hs: var(--fg-h), var(--fg-s);
  --h2-hsl: var(--fg-h), var(--fg-s), 16%;
  --h3: hsla(var(--fg-h), var(--fg-s), 22%, var(--fg-a));
  --h3-h: var(--fg-h);
  --h3-s: var(--fg-s);
  --h3-l: 22%;
  --h3-a: var(--fg-a);
  --h3-hs: var(--fg-h), var(--fg-s);
  --h3-hsl: var(--fg-h), var(--fg-s), 22%;
  --h4: hsla(var(--fg-h), var(--fg-s), 26%, var(--fg-a));
  --h4-h: var(--fg-h);
  --h4-s: var(--fg-s);
  --h4-l: 26%;
  --h4-a: var(--fg-a);
  --h4-hs: var(--fg-h), var(--fg-s);
  --h4-hsl: var(--fg-h), var(--fg-s), 26%;
  --h5: hsla(var(--fg-h), var(--fg-s), 30%, var(--fg-a));
  --h5-h: var(--fg-h);
  --h5-s: var(--fg-s);
  --h5-l: 30%;
  --h5-a: var(--fg-a);
  --h5-hs: var(--fg-h), var(--fg-s);
  --h5-hsl: var(--fg-h), var(--fg-s), 30%;
  --h6: hsla(var(--fg-h), var(--fg-s), 45%, var(--fg-a));
  --h6-h: var(--fg-h);
  --h6-s: var(--fg-s);
  --h6-l: 45%;
  --h6-a: var(--fg-a);
  --h6-hs: var(--fg-h), var(--fg-s);
  --h6-hsl: var(--fg-h), var(--fg-s), 45%; }

.doom-one-light .hljs .hljs-doctag,
.doom-one-light .hljs .hljs-keyword,
.doom-one-light .hljs .hljs-formula {
  color: hsla(var(--magenta-h), var(--magenta-s), var(--magenta-l), 100%); }
.doom-one-light .hljs .hljs-section,
.doom-one-light .hljs .hljs-name,
.doom-one-light .hljs .hljs-selector-tag,
.doom-one-light .hljs .hljs-deletion,
.doom-one-light .hljs .hljs-subst {
  color: hsla(var(--red-h), var(--red-s), var(--red-l), 100%); }
.doom-one-light .hljs .hljs-literal {
  color: hsla(var(--cyan-h), var(--cyan-s), var(--cyan-l), 100%); }
.doom-one-light .hljs .hljs-regexp,
.doom-one-light .hljs .hljs-addition,
.doom-one-light .hljs .hljs-attribute {
  color: hsla(var(--green-h), var(--green-s), var(--green-l), 100%); }
.doom-one-light .hljs .hljs-attr,
.doom-one-light .hljs .hljs-variable,
.doom-one-light .hljs .hljs-template-variable,
.doom-one-light .hljs .hljs-type,
.doom-one-light .hljs .hljs-selector-class,
.doom-one-light .hljs .hljs-selector-attr,
.doom-one-light .hljs .hljs-selector-pseudo,
.doom-one-light .hljs .hljs-number {
  color: hsla(var(--yellow-h), var(--yellow-s), var(--yellow-l), 100%); }
.doom-one-light .hljs .hljs-symbol,
.doom-one-light .hljs .hljs-bullet,
.doom-one-light .hljs .hljs-meta,
.doom-one-light .hljs .hljs-selector-id,
.doom-one-light .hljs .hljs-title {
  color: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 100%); }
.doom-one-light .hljs .hljs-built_in,
.doom-one-light .hljs .hljs-title.class_,
.doom-one-light .hljs .hljs-class .hljs-title {
  color: hsla(var(--orange-h), var(--orange-s), var(--orange-l), 100%); }

:root.doom-dracula {
  --fg: hsla(217, 26%, 94%, 100%);
  --fg-h: 217;
  --fg-s: 26%;
  --fg-l: 94%;
  --fg-a: 100%;
  --fg-hs: 217, 26%;
  --fg-hsl: 217, 26%, 94%;
  --bg: hsla(220, 16%, 21%, 100%);
  --bg-h: 220;
  --bg-s: 16%;
  --bg-l: 21%;
  --bg-a: 100%;
  --bg-hs: 220, 16%;
  --bg-hsl: 220, 16%, 21%;
  --bg-alt: hsla(220, 16%, 18%, 100%);
  --bg-alt-h: 220;
  --bg-alt-s: 16%;
  --bg-alt-l: 18%;
  --bg-alt-a: 100%;
  --bg-alt-hs: 220, 16%;
  --bg-alt-hsl: 220, 16%, 18%;
  --bg-dark: hsla(220, 16%, 14%, 100%);
  --bg-dark-h: 220;
  --bg-dark-s: 16%;
  --bg-dark-l: 14%;
  --bg-dark-a: 100%;
  --bg-dark-hs: 220, 16%;
  --bg-dark-hsl: 220, 16%, 14%;
  --bg-darker: hsla(220, 16%, 10%, 100%);
  --bg-darker-h: 220;
  --bg-darker-s: 16%;
  --bg-darker-l: 10%;
  --bg-darker-a: 100%;
  --bg-darker-hs: 220, 16%;
  --bg-darker-hsl: 220, 16%, 10%;
  --blue: hsla(210, 34%, 63%, 100%);
  --blue-h: 210;
  --blue-s: 34%;
  --blue-l: 63%;
  --blue-a: 100%;
  --blue-hs: 210, 34%;
  --blue-hsl: 210, 34%, 63%;
  --red: hsla(354, 42%, 56%, 100%);
  --red-h: 354;
  --red-s: 42%;
  --red-l: 56%;
  --red-a: 100%;
  --red-hs: 354, 42%;
  --red-hsl: 354, 42%, 56%;
  --magenta: hsla(311, 20%, 63%, 100%);
  --magenta-h: 311;
  --magenta-s: 20%;
  --magenta-l: 63%;
  --magenta-a: 100%;
  --magenta-hs: 311, 20%;
  --magenta-hsl: 311, 20%, 63%;
  --green: hsla(92, 27%, 64%, 100%);
  --green-h: 92;
  --green-s: 27%;
  --green-l: 64%;
  --green-a: 100%;
  --green-hs: 92, 27%;
  --green-hsl: 92, 27%, 64%;
  --violet: hsla(214, 33%, 52%, 100%);
  --violet-h: 214;
  --violet-s: 33%;
  --violet-l: 52%;
  --violet-a: 100%;
  --violet-hs: 214, 33%;
  --violet-hsl: 214, 33%, 52%;
  --yellow: hsla(40, 70%, 73%, 100%);
  --yellow-h: 40;
  --yellow-s: 70%;
  --yellow-l: 73%;
  --yellow-a: 100%;
  --yellow-hs: 40, 70%;
  --yellow-hsl: 40, 70%, 73%;
  --orange: hsla(14, 50%, 62%, 100%);
  --orange-h: 14;
  --orange-s: 50%;
  --orange-l: 62%;
  --orange-a: 100%;
  --orange-hs: 14, 50%;
  --orange-hsl: 14, 50%, 62%;
  --cyan: hsla(193, 43%, 67%, 100%);
  --cyan-h: 193;
  --cyan-s: 43%;
  --cyan-l: 67%;
  --cyan-a: 100%;
  --cyan-hs: 193, 43%;
  --cyan-hsl: 193, 43%, 67%;
  --base0: hsla(225, 19%, 12%, 100%);
  --base0-h: 225;
  --base0-s: 19%;
  --base0-l: 12%;
  --base0-a: 100%;
  --base0-hs: 225, 19%;
  --base0-hsl: 225, 19%, 12%;
  --base4: hsla(220, 16%, 31%, 100%);
  --base4-h: 220;
  --base4-s: 16%;
  --base4-l: 31%;
  --base4-a: 100%;
  --base4-hs: 220, 16%;
  --base4-hsl: 220, 16%, 31%;
  --base8: hsla(219, 66%, 96%, 100%);
  --base8-h: 219;
  --base8-s: 66%;
  --base8-l: 96%;
  --base8-a: 100%;
  --base8-hs: 219, 66%;
  --base8-hsl: 219, 66%, 96%;
  --notice-tip: hsla(204, 65%, 60%, 100%);
  --notice-tip-h: 204;
  --notice-tip-s: 65%;
  --notice-tip-l: 60%;
  --notice-tip-a: 100%;
  --notice-tip-hs: 204, 65%;
  --notice-tip-hsl: 204, 65%, 60%;
  --notice-wip: hsla(219, 23%, 54%, 100%);
  --notice-wip-h: 219;
  --notice-wip-s: 23%;
  --notice-wip-l: 54%;
  --notice-wip-a: 100%;
  --notice-wip-hs: 219, 23%;
  --notice-wip-hsl: 219, 23%, 54%;
  --notice-rant: hsla(85, 40%, 56%, 100%);
  --notice-rant-h: 85;
  --notice-rant-s: 40%;
  --notice-rant-l: 56%;
  --notice-rant-a: 100%;
  --notice-rant-hs: 85, 40%;
  --notice-rant-hsl: 85, 40%, 56%;
  --notice-timed: hsla(286, 60%, 67%, 100%);
  --notice-timed-h: 286;
  --notice-timed-s: 60%;
  --notice-timed-l: 67%;
  --notice-timed-a: 100%;
  --notice-timed-hs: 286, 60%;
  --notice-timed-hsl: 286, 60%, 67%;
  --notice-warn: hsla(35, 74%, 70%, 100%);
  --notice-warn-h: 35;
  --notice-warn-s: 74%;
  --notice-warn-l: 70%;
  --notice-warn-a: 100%;
  --notice-warn-hs: 35, 74%;
  --notice-warn-hsl: 35, 74%, 70%;
  --highlight: hsla(var(--violet-h), var(--violet-s), var(--violet-l), var(--violet-a));
  --highlight-h: var(--violet-h);
  --highlight-s: var(--violet-s);
  --highlight-l: var(--violet-l);
  --highlight-a: var(--violet-a);
  --highlight-hs: var(--violet-h), var(--violet-s);
  --highlight-hsl: var(--violet-h), var(--violet-s), var(--violet-l);
  --accent: hsla(var(--magenta-h), var(--magenta-s), var(--magenta-l), var(--magenta-a));
  --accent-h: var(--magenta-h);
  --accent-s: var(--magenta-s);
  --accent-l: var(--magenta-l);
  --accent-a: var(--magenta-a);
  --accent-hs: var(--magenta-h), var(--magenta-s);
  --accent-hsl: var(--magenta-h), var(--magenta-s), var(--magenta-l);
  --links: hsla(var(--orange-h), var(--orange-s), var(--orange-l), var(--orange-a));
  --links-h: var(--orange-h);
  --links-s: var(--orange-s);
  --links-l: var(--orange-l);
  --links-a: var(--orange-a);
  --links-hs: var(--orange-h), var(--orange-s);
  --links-hsl: var(--orange-h), var(--orange-s), var(--orange-l);
  --strings: hsla(var(--yellow-h), var(--yellow-s), var(--yellow-l), var(--yellow-a));
  --strings-h: var(--yellow-h);
  --strings-s: var(--yellow-s);
  --strings-l: var(--yellow-l);
  --strings-a: var(--yellow-a);
  --strings-hs: var(--yellow-h), var(--yellow-s);
  --strings-hsl: var(--yellow-h), var(--yellow-s), var(--yellow-l);
  --comments: hsla(207, 6%, 38%, 100%);
  --comments-h: 207;
  --comments-s: 6%;
  --comments-l: 38%;
  --comments-a: 100%;
  --comments-hs: 207, 6%;
  --comments-hsl: 207, 6%, 38%;
  --comments-alt: hsla(212, 8%, 26%, 100%);
  --comments-alt-h: 212;
  --comments-alt-s: 8%;
  --comments-alt-l: 26%;
  --comments-alt-a: 100%;
  --comments-alt-hs: 212, 8%;
  --comments-alt-hsl: 212, 8%, 26%;
  --code-bg: hsla(var(--bg-alt-h), var(--bg-alt-s), var(--bg-alt-l), var(--bg-alt-a));
  --code-bg-h: var(--bg-alt-h);
  --code-bg-s: var(--bg-alt-s);
  --code-bg-l: var(--bg-alt-l);
  --code-bg-a: var(--bg-alt-a);
  --code-bg-hs: var(--bg-alt-h), var(--bg-alt-s);
  --code-bg-hsl: var(--bg-alt-h), var(--bg-alt-s), var(--bg-alt-l);
  --code-fg: hsla(209, 43%, 70%, 100%);
  --code-fg-h: 209;
  --code-fg-s: 43%;
  --code-fg-l: 70%;
  --code-fg-a: 100%;
  --code-fg-hs: 209, 43%;
  --code-fg-hsl: 209, 43%, 70%;
  --code-border: hsla(222, 12%, 10%, 100%);
  --code-border-h: 222;
  --code-border-s: 12%;
  --code-border-l: 10%;
  --code-border-a: 100%;
  --code-border-hs: 222, 12%;
  --code-border-hsl: 222, 12%, 10%;
  --error: hsla(var(--red-h), var(--red-s), var(--red-l), var(--red-a));
  --error-h: var(--red-h);
  --error-s: var(--red-s);
  --error-l: var(--red-l);
  --error-a: var(--red-a);
  --error-hs: var(--red-h), var(--red-s);
  --error-hsl: var(--red-h), var(--red-s), var(--red-l);
  --h1: hsla(var(--fg-h), var(--fg-s), var(--fg-l), var(--fg-a));
  --h1-h: var(--fg-h);
  --h1-s: var(--fg-s);
  --h1-l: var(--fg-l);
  --h1-a: var(--fg-a);
  --h1-hs: var(--fg-h), var(--fg-s);
  --h1-hsl: var(--fg-h), var(--fg-s), var(--fg-l);
  --h2: hsla(var(--blue-h), var(--blue-s), 78%, var(--blue-a));
  --h2-h: var(--blue-h);
  --h2-s: var(--blue-s);
  --h2-l: 78%;
  --h2-a: var(--blue-a);
  --h2-hs: var(--blue-h), var(--blue-s);
  --h2-hsl: var(--blue-h), var(--blue-s), 78%;
  --h3: hsla(var(--magenta-h), var(--magenta-s), 78%, var(--magenta-a));
  --h3-h: var(--magenta-h);
  --h3-s: var(--magenta-s);
  --h3-l: 78%;
  --h3-a: var(--magenta-a);
  --h3-hs: var(--magenta-h), var(--magenta-s);
  --h3-hsl: var(--magenta-h), var(--magenta-s), 78%;
  --h4: hsla(var(--blue-h), var(--blue-s), 90%, var(--blue-a));
  --h4-h: var(--blue-h);
  --h4-s: var(--blue-s);
  --h4-l: 90%;
  --h4-a: var(--blue-a);
  --h4-hs: var(--blue-h), var(--blue-s);
  --h4-hsl: var(--blue-h), var(--blue-s), 90%;
  --h5: hsla(var(--magenta-h), var(--magenta-s), 88%, var(--magenta-a));
  --h5-h: var(--magenta-h);
  --h5-s: var(--magenta-s);
  --h5-l: 88%;
  --h5-a: var(--magenta-a);
  --h5-hs: var(--magenta-h), var(--magenta-s);
  --h5-hsl: var(--magenta-h), var(--magenta-s), 88%;
  --h6: hsla(var(--blue-h), var(--blue-s), 98%, var(--blue-a));
  --h6-h: var(--blue-h);
  --h6-s: var(--blue-s);
  --h6-l: 98%;
  --h6-a: var(--blue-a);
  --h6-hs: var(--blue-h), var(--blue-s);
  --h6-hsl: var(--blue-h), var(--blue-s), 98%; }

.doom-dracula .hljs .hljs-doctag,
.doom-dracula .hljs .hljs-keyword,
.doom-dracula .hljs .hljs-formula {
  color: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 100%); }
.doom-dracula .hljs .hljs-section,
.doom-dracula .hljs .hljs-name,
.doom-dracula .hljs .hljs-selector-tag,
.doom-dracula .hljs .hljs-deletion,
.doom-dracula .hljs .hljs-subst {
  color: hsla(var(--red-h), var(--red-s), var(--red-l), 100%); }
.doom-dracula .hljs .hljs-literal {
  color: hsla(var(--cyan-h), var(--cyan-s), var(--cyan-l), 100%); }
.doom-dracula .hljs .hljs-regexp,
.doom-dracula .hljs .hljs-addition,
.doom-dracula .hljs .hljs-attribute {
  color: hsla(var(--green-h), var(--green-s), var(--green-l), 100%); }
.doom-dracula .hljs .hljs-attr,
.doom-dracula .hljs .hljs-variable,
.doom-dracula .hljs .hljs-template-variable,
.doom-dracula .hljs .hljs-type,
.doom-dracula .hljs .hljs-selector-class,
.doom-dracula .hljs .hljs-selector-attr,
.doom-dracula .hljs .hljs-selector-pseudo,
.doom-dracula .hljs .hljs-number {
  color: hsla(var(--magenta-h), var(--magenta-s), var(--magenta-l), 100%); }
.doom-dracula .hljs .hljs-meta,
.doom-dracula .hljs .hljs-selector-id,
.doom-dracula .hljs .hljs-title {
  color: hsla(var(--orange-h), var(--orange-s), var(--orange-l), 100%); }
.doom-dracula .hljs .hljs-bullet,
.doom-dracula .hljs .hljs-symbol {
  color: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 100%); }
.doom-dracula .hljs .hljs-built_in,
.doom-dracula .hljs .hljs-title.class_,
.doom-dracula .hljs .hljs-class .hljs-title {
  color: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 100%); }

:root {
  --default-font: "Open Sans", sans-serif;
  --heading-font: "Raleway", sans;
  --condensed-font: "Open Sans Condensed", sans;
  --monospace-font: "JetBrainsMono", "Fira Code", "Fira Mono", Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
  --icon-font: "Font Awesome 5 Free";
  --icon-brands-font: "Font Awesome 5 Brands";
  --emoji-font: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Noto Emoji", emoji;
  --body-width: 720px;
  --sidebar-width: 21em;
  --topbar-height: 60px; }

/** Doom (S)CSS style guide:
 *
 * [SELECTORS] {
 *   [LAYOUT DECLARATIONS]
 *   [FONT/TEXT FORMATTING DECLARATIONS]
 *   [COLOR DECLARATIONS]
 *   [BEHAVIOR DECLARATIONS]
 *
 *   [CHILD RULES]
 * }
 *
 * - Order rules by specificity (from general to specific).
 * - Always separate child rules from declarations with a blank line.
 * - Order of declarations within each group don't matter. Instead, group
 *   them logically (padding + margin, position + left/right/top/bottom,
 *   font-size + font-weight, etc).
 * - Applying a single property to a series of numbered selectors should each
 *   consume one line. All other rules must be a block (multi-line).
 */
html {
  color: hsla(var(--fg-h), var(--fg-s), var(--fg-l), 100%);
  background-color: hsla(var(--bg-h), var(--bg-s), var(--bg-l), 100%); }

body {
  width: var(--body-width);
  min-width: var(--body-width);
  padding-left: var(--sidebar-width);
  padding-right: 1em;
  margin: 0 auto;
  font-family: var(--default-font);
  font-size: 1rem;
  line-height: 1.6; }

a {
  color: hsla(var(--links-h), var(--links-s), var(--links-l), 100%);
  text-decoration: none; }
  a:hover {
    color: hsla(var(--links-h), var(--links-s), calc(var(--links-l) + 15%), var(--links-a)); }
  a:not([href]) {
    display: none; }
  a.user {
    color: hsla(var(--links-h), var(--links-s), calc(var(--links-l) + 15%), var(--links-a));
    font-weight: bold; }
    a.user:hover {
      color: hsla(var(--links-h), var(--links-s), var(--links-l), var(--links-a)); }
    section a.user {
      background-color: transparent;
      text-decoration: none; }
  a.module {
    color: hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 15%), var(--accent-a)); }
    section a.module {
      background-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.1);
      text-decoration-color: hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 15%), calc(var(--accent-a) + -70%)); }
  a.package {
    color: hsla(var(--green-h), var(--green-s), calc(var(--green-l) + 15%), var(--green-a)); }
    section a.package {
      background-color: hsla(var(--green-h), var(--green-s), var(--green-l), 0.1);
      text-decoration-color: hsla(var(--green-h), var(--green-s), calc(var(--green-l) + 15%), calc(var(--green-a) + -70%)); }
  section a {
    padding: 0 4px;
    background-color: hsla(var(--links-h), var(--links-s), var(--links-l), 0.075);
    text-decoration: underline;
    text-decoration-color: hsla(var(--links-h), var(--links-s), var(--links-l), 0.3); }
    section a[href^="http"]:after {
      font-family: var(--icon-font);
      font-weight: 900;
      padding-left: 0.4em;
      content: "\f35d";
      display: inline-block;
      vertical-align: middle;
      font-size: 70%; }
    del section a {
      color: hsla(var(--error-h), var(--error-s), var(--error-l), 100%); }
    blockquote section a, del section a {
      background-color: hsla(var(--bg-h), var(--bg-s), var(--bg-l), 100%); }
    section a .fa, section a .fas, #table-of-contents section a, #postamble section a {
      text-decoration: none;
      background-color: transparent; }
    #content h1 section a {
      text-decoration: none;
      margin-left: -4px; }
    #content h2 section a {
      text-decoration: none;
      margin-left: -4px; }
    #content h3 section a {
      text-decoration: none;
      margin-left: -4px; }
    #content h4 section a {
      text-decoration: none;
      margin-left: -4px; }
    #content h5 section a {
      text-decoration: none;
      margin-left: -4px; }
    #content h6 section a {
      text-decoration: none;
      margin-left: -4px; }
    #content h7 section a {
      text-decoration: none;
      margin-left: -4px; }
    #content h8 section a {
      text-decoration: none;
      margin-left: -4px; }

del {
  background-color: hsla(var(--bg-dark-h), var(--bg-dark-s), var(--bg-dark-l), 100%); }

blockquote {
  border-width: 1px;
  padding: 0.3em 1em;
  margin-left: 0;
  margin-right: 0;
  background-color: hsla(var(--bg-dark-h), var(--bg-dark-s), var(--bg-dark-l), 100%);
  border-color: hsla(var(--quote-border-h), var(--quote-border-s), var(--quote-border-l), 100%); }

dd {
  margin-bottom: 0.4em; }

dd > :first-child {
  margin-top: 0; }

section h1, section h2, section h3, section h4, section h5, section h6, section h7, section h8 {
  border-bottom: 1px dotted hsla(var(--violet-h), var(--violet-s), var(--violet-l), 30%);
  font-family: var(--heading-font);
  font-weight: bold;
  width: 100%; }
section h2, section h3, section h4, section h5, section h6 {
  padding-bottom: 0; }
section.outline-2 {
  margin-top: 8.0em; }
section .outline-3 {
  margin-top: 4.25em; }
section .outline-4 {
  margin-top: 3.75em; }
section .outline-5 {
  margin-top: 3.25em; }
section .outline-6 {
  margin-top: 2.75em; }
section .outline-7 {
  margin-top: 2em; }
section h2 {
  font-size: 1.8em;
  font-weight: 900;
  border-bottom: 8px solid hsla(var(--magenta-h), var(--magenta-s), var(--magenta-l), 100%);
  color: hsla(var(--h1-h), var(--h1-s), var(--h1-l), 100%); }
section h3 {
  font-size: 1.55em;
  font-weight: 700;
  border-bottom: 1px solid hsla(var(--violet-h), var(--violet-s), var(--violet-l), 75%);
  color: hsla(var(--h2-h), var(--h2-s), var(--h2-l), 100%); }
section h4 {
  font-size: 1.4em;
  font-weight: 700;
  border-bottom: 1px dotted hsla(var(--violet-h), var(--violet-s), var(--violet-l), 40%);
  color: hsla(var(--h3-h), var(--h3-s), var(--h3-l), 100%); }
section h5 {
  font-size: 1.2em;
  font-weight: 600;
  color: hsla(var(--h4-h), var(--h4-s), var(--h4-l), 100%); }
section h6 {
  font-size: 1.1em;
  font-weight: 600;
  color: hsla(var(--h5-h), var(--h5-s), var(--h5-l), 100%); }
section h7 {
  display: block;
  font-style: italic;
  color: hsla(var(--h6-h), var(--h6-s), var(--h6-l), 100%); }

.left {
  float: left; }

.right {
  float: right; }

.org-ul, .org-ol {
  padding-inline-start: 35px;
  margin-bottom: 0.1em; }

.org-ol {
  padding-inline-start: 30px; }
  .org-ol li {
    padding-left: 0.5em; }

.org-ul > li {
  margin-bottom: 0.1em; }

.notice {
  padding: 0.4em 1.8em;
  padding-left: 5.2em;
  position: relative;
  font-size: 95%;
  line-height: 1.5;
  color: hsla(var(--base8-h), var(--base8-s), var(--base8-l), 100%); }
  .notice + .notice {
    margin-top: 0.4em; }
  .notice p {
    vertical-align: middle; }
  .notice:before {
    font-family: var(--emoji-font);
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 0.3em;
    width: 2.2em;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 0 0 6px hsla(var(--bg-h), var(--bg-s), var(--bg-l), 100%); }
  .notice.tip {
    background-color: hsla(var(--notice-tip-h), var(--notice-tip-s), var(--notice-tip-l), 30%); }
  .notice.wip {
    background-color: hsla(var(--notice-wip-h), var(--notice-wip-s), var(--notice-wip-l), 25%); }
  .notice.rant {
    background-color: hsla(var(--notice-rant-h), var(--notice-rant-s), var(--notice-rant-l), 30%); }
  .notice.timed {
    background-color: hsla(var(--notice-timed-h), var(--notice-timed-s), var(--notice-timed-l), 33%); }
  .notice.warn {
    background-color: hsla(var(--notice-warn-h), var(--notice-warn-s), var(--notice-warn-l), 28%); }
  .notice.tip:before {
    content: "📌"; }
  .notice.wip:before {
    content: "🛠️"; }
  .notice.rant:before {
    content: "💡"; }
  .notice.timed:before {
    content: "🕤"; }
  .notice.warn:before {
    content: "⚠️"; }

kbd, code, pre, .verbatim, .TODO, .FIXME {
  font-family: var(--monospace-font);
  color: hsla(var(--code-fg-h), var(--code-fg-s), var(--code-fg-l), 100%);
  padding: 2px 4px 1px;
  font-size: 88%; }

code, pre, .verbatim, .TODO, .FIXME {
  background-color: hsla(var(--code-bg-h), var(--code-bg-s), var(--code-bg-l), 100%); }
  blockquote code, blockquote pre, blockquote .verbatim, blockquote .TODO, blockquote .FIXME {
    background-color: hsla(var(--bg-h), var(--bg-s), var(--bg-l), 100%); }
  #text-table-of-contents code, #text-table-of-contents pre, #text-table-of-contents .verbatim, #text-table-of-contents .TODO, #text-table-of-contents .FIXME {
    background-color: hsla(var(--bg-darker-h), var(--bg-darker-s), var(--bg-darker-l), 100%);
    font-size: 75%;
    margin: 0;
    padding: 4px 4px 1px; }

pre.src, pre.example {
  padding: 0.75em 0.5em;
  border-left: 4px solid hsla(var(--code-border-h), var(--code-border-s), var(--code-border-l), 100%);
  overflow-x: auto; }

.TODO, .FIXME {
  font-weight: normal;
  margin-right: 5px;
  color: hsla(var(--yellow-h), var(--yellow-s), var(--yellow-l), 100%); }

kbd {
  background-color: hsla(var(--base4-h), var(--base4-s), var(--base4-l), 100%);
  outline: 1px solid hsla(var(--code-bg-h), var(--code-bg-s), var(--code-bg-l), 100%); }

.hljs .hljs-emphasis {
  font-style: italic; }
.hljs .hljs-strong {
  font-weight: bold; }
.hljs .hljs-link {
  text-decoration: underline; }
.hljs .hljs-comment, .hljs .hljs-quote {
  color: hsla(var(--comments-h), var(--comments-s), var(--comments-l), 100%);
  font-style: italic; }
.hljs .hljs-link {
  color: hsla(var(--links-h), var(--links-s), var(--links-l), 100%); }
.hljs .hljs-string, .hljs .hljs-meta .hljs-string {
  color: hsla(var(--strings-h), var(--strings-s), var(--strings-l), 100%); }

.org-src-container {
  position: relative; }
  .org-src-container .gutter {
    position: absolute;
    right: -59px;
    top: 3px;
    font-family: var(--condensed-font);
    font-size: 150%; }
    .org-src-container .gutter a {
      display: inline-block;
      text-decoration: none; }

.anchor {
  scroll-padding-top: 120px;
  display: inline-block;
  visibility: hidden;
  height: 120px;
  margin-top: -120px; }

.link {
  position: relative;
  left: 0.3em;
  background-color: transparent;
  opacity: 0.0;
  font-family: var(--condensed-font);
  transition: opacity ease-in-out 0.1s; }
  :hover > .link {
    opacity: 1.0; }
  dt > .link {
    left: 0.3em; }

.flags {
  background-color: transparent;
  border-left: 1px dashed hsla(var(--comments-h), var(--comments-s), var(--comments-l), 100%);
  padding-top: 0;
  padding-bottom: 0; }

#theme-chooser {
  position: fixed;
  left: calc(var(--sidebar-width) + 2px);
  bottom: 0;
  background-color: hsla(var(--bg-dark-h), var(--bg-dark-s), var(--bg-dark-l), 100%);
  width: 200px;
  padding: 1em;
  margin: 0; }
  #theme-chooser ul, #theme-chooser li {
    list-style: none;
    margin: 0;
    padding: 0; }
  #theme-chooser .active {
    color: hsla(var(--fg-h), var(--fg-s), var(--fg-l), 100%);
    text-decoration: none;
    font-weight: bold; }

#sidebar {
  background-color: hsla(var(--bg-alt-h), var(--bg-alt-s), var(--bg-alt-l), 100%);
  border-right: 1px solid hsla(var(--bg-dark-h), var(--bg-dark-s), var(--bg-dark-l), 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100vh;
  display: flex;
  flex-direction: column; }
  #sidebar header, #sidebar footer {
    background-color: hsla(var(--bg-darker-h), var(--bg-darker-s), var(--bg-darker-l), 100%);
    text-align: center; }
  #sidebar #table-of-contents {
    height: calc(100vh - 60px - var(--topbar-height));
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth; }
  #sidebar header {
    height: var(--topbar-height); }
    #sidebar header form {
      padding: 0.7em 0 0; }
    #sidebar header input, #sidebar header select {
      background-color: hsla(var(--bg-h), var(--bg-s), var(--bg-l), 100%);
      color: hsla(var(--fg-h), var(--fg-s), var(--fg-l), 100%);
      font-size: 0.8em;
      border: 1px solid hsla(var(--comments-alt-h), var(--comments-alt-s), var(--comments-alt-l), 100%);
      border-radius: 0;
      padding: 8px 5px 6px;
      box-sizing: border-box;
      min-height: 32px;
      line-height: 1; }
  #sidebar footer {
    background-color: hsla(var(--bg-dark-h), var(--bg-dark-s), var(--bg-dark-l), 100%);
    width: var(--sidebar-width);
    height: 60px;
    padding: 0.5em 0; }
    #sidebar footer ul, #sidebar footer li {
      list-style: none;
      margin: 0;
      padding: 0; }
    #sidebar footer li {
      display: inline-block; }
    #sidebar footer strong {
      padding: 0 0.5em;
      font-size: 85%; }
    #sidebar footer .fa-heart {
      color: hsla(var(--red-h), var(--red-s), var(--red-l), 100%);
      margin-right: 1px;
      white-space: nowrap;
      overflow: hidden;
      width: 1em;
      position: relative;
      top: 2px; }
      #sidebar footer .fa-heart:before {
        margin-right: 50px; }
    #sidebar footer .extra {
      padding: 5px 0.8em 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto; }
      #sidebar footer .extra li {
        flex-grow: 1;
        text-align: left; }
        #sidebar footer .extra li:last-child {
          flex-grow: 5;
          text-align: right; }
        #sidebar footer .extra li a {
          overflow: hidden;
          white-space: nowrap;
          width: 1em;
          height: 1em;
          color: hsla(var(--fg-h), var(--fg-s), var(--fg-l), 100%);
          text-align: center; }
          #sidebar footer .extra li a:hover {
            color: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 100%); }
          #sidebar footer .extra li a:before {
            margin-right: 50px; }
          #sidebar footer .extra li a.fa-discord {
            width: 1.25em; }
    #sidebar footer .back-to-top {
      font-size: 200%;
      padding: 0.3em;
      cursor: pointer;
      position: fixed;
      right: 0.12em;
      bottom: 0.12em;
      transition: all ease-in-out 0.31s;
      opacity: 0.6; }
      #sidebar footer .back-to-top:hover {
        opacity: 1.0; }
  #sidebar #text-table-of-contents {
    padding-bottom: 1em; }
    #sidebar #text-table-of-contents .has-children:not(.collapsed) > a {
      background-color: hsla(var(--bg-h), var(--bg-s), var(--bg-l), 100%); }
      #sidebar #text-table-of-contents .has-children:not(.collapsed) > a:before {
        background: linear-gradient(to right, hsla(var(--bg-h), var(--bg-s), var(--bg-l), 0%), hsla(var(--bg-h), var(--bg-s), var(--bg-l), 90%), hsla(var(--bg-h), var(--bg-s), var(--bg-l), 100%)); }
    #sidebar #text-table-of-contents .has-children > a:before {
      content: "\25BE";
      background: linear-gradient(to right, hsla(var(--bg-alt-h), var(--bg-alt-s), var(--bg-alt-l), 0%), hsla(var(--bg-alt-h), var(--bg-alt-s), var(--bg-alt-l), 90%), hsla(var(--bg-alt-h), var(--bg-alt-s), var(--bg-alt-l), 100%));
      color: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 100%);
      display: block;
      float: right;
      clear: both;
      width: 14px;
      padding: 4px 6px 4px 17px;
      text-align: center;
      position: relative;
      bottom: 4px;
      left: 7px; }
    #sidebar #text-table-of-contents .has-children > a:hover:before {
      background: linear-gradient(to right, hsla(var(--bg-h), var(--bg-s), var(--bg-l), 0%), hsla(var(--bg-h), var(--bg-s), var(--bg-l), 90%), hsla(var(--bg-h), var(--bg-s), var(--bg-l), 100%)); }
    #sidebar #text-table-of-contents .has-children.collapsed > a:before {
      color: hsla(var(--comments-h), var(--comments-s), var(--comments-l), 100%);
      content: "\25B8"; }
    #sidebar #text-table-of-contents .has-children.collapsed > ul {
      display: none; }
    #sidebar #text-table-of-contents > ul > li > a {
      padding-left: 0.8em; }
    #sidebar #text-table-of-contents > ul > li > ul > li > a {
      padding-left: 2.0em; }
    #sidebar #text-table-of-contents > ul > li > ul > li .num {
      opacity: 0.85; }
    #sidebar #text-table-of-contents > ul > li > ul > li > ul > li > a {
      padding-left: 3.2em; }
    #sidebar #text-table-of-contents > ul > li > ul > li > ul > li .num {
      opacity: 0.7;
      font-weight: 300; }
    #sidebar #text-table-of-contents > ul > li > ul > li > ul > li > ul > li > a {
      padding-left: 4.4em; }
    #sidebar #text-table-of-contents > ul > li > ul > li > ul > li > ul > li .num {
      opacity: 0.5; }
    #sidebar #text-table-of-contents > ul > li > ul > li > ul > li > ul > li > ul > li .num {
      display: none; }
    #sidebar #text-table-of-contents > ul > li > ul > li > ul > li > ul > li > ul > li a:before {
      content: "\25AA";
      margin-right: 2px;
      margin-top: -2px;
      padding-right: 0.3em;
      line-height: 1.7; }
    #sidebar #text-table-of-contents > ul > li > ul > li > ul > li > ul > li > ul > li > a {
      padding-left: 5.2em; }

#topbar {
  background-color: hsla(var(--bg-alt-h), var(--bg-alt-s), var(--bg-alt-l), 100%);
  position: fixed;
  top: 0;
  left: var(--sidebar-width);
  width: calc(100vw - (var(--sidebar-width) + 1px + 1em));
  height: var(--topbar-height);
  padding: 0 0.5em;
  margin-left: 1px;
  z-index: 20;
  display: flex;
  flex-direction: row;
  align-items: center; }
  #topbar > div {
    flex-grow: 1; }
    #topbar > div ul, #topbar > div li {
      list-style: none;
      margin: 0;
      padding: 0; }
    #topbar > div li {
      display: inline-block; }
    #topbar > div p {
      padding: 0;
      margin: 0; }
    #topbar > div li {
      margin: 0 0.5em; }
  #topbar > div:nth-child(2) {
    text-align: right; }
  #topbar .fas {
    position: relative;
    bottom: 2px;
    margin-right: 2px;
    vertical-align: middle; }

#table-of-contents {
  white-space: nowrap; }
  #table-of-contents ul, #table-of-contents li {
    list-style: none;
    margin: 0;
    padding: 0; }
  #table-of-contents li, #table-of-contents h2 {
    font-size: 14px; }
  #table-of-contents > h2 {
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    margin: 0; }
    #table-of-contents > h2 a {
      border-bottom: 1px dotted hsla(var(--comments-h), var(--comments-s), var(--comments-l), 100%); }
      #table-of-contents > h2 a i.fas {
        display: inline-block;
        margin-right: 3px;
        margin-left: 4px; }
  #table-of-contents a {
    padding: 0.275em 0.4em;
    color: hsla(var(--fg-h), var(--fg-s), var(--fg-l), 100%);
    display: block;
    border-left: 4px solid transparent; }
    #table-of-contents a:hover {
      background-color: hsla(var(--bg-h), var(--bg-s), var(--bg-l), 100%);
      color: hsla(var(--magenta-h), var(--magenta-s), calc(var(--magenta-l) + 5%), var(--magenta-a)); }
  #table-of-contents .active > a {
    font-weight: bold;
    border-left: 4px solid hsla(var(--highlight-h), var(--highlight-s), var(--highlight-l), 100%); }
  #table-of-contents > div .num {
    display: inline-block;
    margin-right: 3px;
    font-size: 90%;
    font-weight: 700;
    margin-bottom: -1px; }

#content {
  padding: 0 2.0em 30em; }
  #content > header {
    font-family: var(--heading-font); }
    #content > header .title {
      font-weight: 800;
      font-size: 2.3em;
      line-height: 1.0;
      padding-top: 4em; }
    #content > header p.subtitle {
      font-weight: 400;
      font-style: italic;
      font-size: 1.6em;
      margin: -0.6em 0 0;
      color: hsla(var(--violet-h), var(--violet-s), var(--violet-l), 100%); }

.section-number-1 {
  display: inline-block;
  width: 80px;
  margin-right: 18px;
  margin-left: -104px;
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 800;
  text-align: right;
  color: hsla(var(--comments-h), var(--comments-s), var(--comments-l), 100%); }

.section-number-2 {
  display: inline-block;
  width: 80px;
  margin-right: 18px;
  margin-left: -104px;
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 700;
  text-align: right;
  color: hsla(var(--comments-h), var(--comments-s), var(--comments-l), 100%); }

.section-number-3 {
  display: inline-block;
  width: 80px;
  margin-right: 18px;
  margin-left: -104px;
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 600;
  text-align: right;
  color: hsla(var(--comments-h), var(--comments-s), var(--comments-l), 100%); }

.section-number-4 {
  display: inline-block;
  width: 80px;
  margin-right: 18px;
  margin-left: -104px;
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 500;
  text-align: right;
  color: hsla(var(--comments-h), var(--comments-s), var(--comments-l), 100%); }

.section-number-5 {
  display: inline-block;
  width: 80px;
  margin-right: 18px;
  margin-left: -104px;
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 400;
  text-align: right;
  color: hsla(var(--comments-h), var(--comments-s), var(--comments-l), 100%); }

.section-number-6 {
  display: inline-block;
  width: 80px;
  margin-right: 18px;
  margin-left: -104px;
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 300;
  text-align: right;
  color: hsla(var(--comments-h), var(--comments-s), var(--comments-l), 100%); }

.section-number-7 {
  display: inline-block;
  width: 80px;
  margin-right: 18px;
  margin-left: -104px;
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 200;
  text-align: right;
  color: hsla(var(--comments-h), var(--comments-s), var(--comments-l), 100%); }

.section-number-8 {
  display: inline-block;
  width: 80px;
  margin-right: 18px;
  margin-left: -104px;
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 100;
  text-align: right;
  color: hsla(var(--comments-h), var(--comments-s), var(--comments-l), 100%); }

.section-number-8 {
  font-variant: small-caps; }
